<?xml version="1.0"?>
<config>
    <modules>
        <Shipfunk_Shipfunk>
            <version>0.1.6</version>
        </Shipfunk_Shipfunk>
    </modules>
    <frontend>
        <secure_url>
            <shipfunk>/shipfunk</shipfunk>
        </secure_url>
        <routers>
            <shipfunk>
                <use>standard</use>
                <args>
                    <module>Shipfunk_Shipfunk</module>
                    <frontName>shipfunk</frontName>
                </args>
            </shipfunk>
            <checkout>
                <args>
                    <modules>
                        <Shipfunk_Shipfunk before="Mage_Checkout">Shipfunk_Shipfunk_Checkout</Shipfunk_Shipfunk>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <shipfunk module="Shipfunk_Shipfunk">
                    <file>shipfunk_shipfunk.xml</file>
                </shipfunk>
            </updates>
        </layout>
        <translate>
            <modules>
                <Shipfunk_Shipfunk>
                    <files>
                        <default>Shipfunk_Shipfunk.csv</default>
                    </files>
                </Shipfunk_Shipfunk>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <shipfunk>
                <use>admin</use>
                <args>
                    <module>Shipfunk_Shipfunk</module>
                    <frontName>shipfunk</frontName>
                </args>
            </shipfunk>
            <!-- rewrite controller -->
            <!-- <adminhtml>
                <args>
                    <modules>
                        <Shipfunk_Shipfunk before="Mage_Adminhtml">Shipfunk_Shipfunk_Adminhtml</Shipfunk_Shipfunk>
                    </modules>
                </args>
            </adminhtml> -->
            <adminhtml>
                <args>
                    <modules>
                        <Shipfunk_Shipfunk before="Mage_Adminhtml">Shipfunk_Shipfunk_Adminhtml</Shipfunk_Shipfunk>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shipfunk>
                                            <title>shipfunk shipfunk</title>
                                        </shipfunk>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <shipfunk>
                    <file>shipfunk_shipfunk.xml</file>
                </shipfunk>
            </updates>
        </layout>
        <translate>
            <modules>
                <Shipfunk_Shipfunk>
                    <files>
                        <default>Shipfunk_Shipfunk.csv</default>
                    </files>
                </Shipfunk_Shipfunk>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <shipfunk>
                <class>Shipfunk_Shipfunk_Model</class>
                <resourceModel>shipfunk_mysql4</resourceModel>
            </shipfunk>
            <shipfunk_mysql4>  
                <class>Shipfunk_Shipfunk_Model_Resource_Mysql4</class>
                <entities>  
                    <orderParcels>
                        <table>shipfunk_order_parcels</table>  
                    </orderParcels>
                </entities>  
            </shipfunk_mysql4>
            <!-- rewrite model -->
            <shipping>
                <rewrite>
                    <shipping>Shipfunk_Shipfunk_Rewrite_Shipping_Model_Shipping</shipping>
                </rewrite>
            </shipping>
            <sales>
                <rewrite>
                    <quote_address>Shipfunk_Shipfunk_Rewrite_Sales_Model_Quote_Address</quote_address>
                </rewrite>
            </sales>
            <sales>
                <rewrite>
                    <quote_address_rate>Shipfunk_Shipfunk_Rewrite_Sales_Model_Quote_Address_Rate</quote_address_rate>
                </rewrite>
            </sales>
            <sales>
                <rewrite>
                    <quote_address_total_shipping>Shipfunk_Shipfunk_Rewrite_Sales_Model_Quote_Address_Total_Shipping</quote_address_total_shipping>
                </rewrite>
            </sales>
            <checkout>
                <rewrite>
                    <type_onepage>Shipfunk_Shipfunk_Rewrite_Checkout_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
        </models>
        <resources>
            <shipfunk_setup>
                <setup>
                    <module>Shipfunk_Shipfunk</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shipfunk_setup>
        </resources>
        <blocks>
            <shipfunk>
                <class>Shipfunk_Shipfunk_Block</class>
            </shipfunk>
            <!-- rewrite block -->
            <!--             <checkout>
                <rewrite>
                    <onepage_link>Shipfunk_Shipfunk_Block_Checkout_Onepage_Link</onepage_link>
                </rewrite>
            </checkout> -->
            <checkout>
                <rewrite>
                    <onepage_progress>Shipfunk_Shipfunk_Block_Checkout_Onepage_Progress</onepage_progress>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <shipfunk>
                <class>Shipfunk_Shipfunk_Helper</class>
            </shipfunk>
            <shipfunk_shipfunk>
                <class>Shipfunk_Shipfunk_Helper</class>
            </shipfunk_shipfunk>
            <!-- rewrite helper -->
            <!--             <checkout>
                <rewrite>
                    <url>Shipfunk_Shipfunk_Helper_Url</url>
                </rewrite>
            </checkout> -->
        </helpers>
        <events>
            <order_cancel_after>
                <observers>
                    <shipfunk_observers_order_cancel_after>
                        <class>shipfunk/observers_order_cancel</class>
                        <method>changeShipfunkStatus</method>
                    </shipfunk_observers_order_cancel_after>
                </observers>
            </order_cancel_after>
            <sales_order_invoice_cancel>
                <observers>
                    <shipfunk_observers_payment_cancel>
                        <class>shipfunk/observers_payment_cancel</class>
                        <method>changeShipfunkStatus</method>
                    </shipfunk_observers_payment_cancel>
                </observers>
            </sales_order_invoice_cancel>
            <!-- <sales_order_invoice_pay>
                <observers>
                    <shipfunk_observers_invoice_pay>
                        <class>shipfunk/observers_invoice_pay</class>
                        <method>changeShipfunkInfo</method>
                    </shipfunk_observers_invoice_pay>
                </observers>
            </sales_order_invoice_pay> -->
            <sales_order_place_after>
                <observers>
                    <shipfunk_observers_invoice_pay>
                        <class>shipfunk/observers_place</class>
                        <method>changeShipfunkInfo</method>
                    </shipfunk_observers_invoice_pay>
                </observers>
            </sales_order_place_after>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_button_shipfunk>
                        <class>shipfunk/observers_admin</class>
                        <method>addButton</method>
                    </add_button_shipfunk>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </global>
    <crontab>
        <jobs>
            <!--<send_auction_email>
                    <schedule>
                        <cron_expr>*/1 * * * *</cron_expr>
                    </schedule>
                    <run>
                        <model>shipfunk/cron::sendAuctionEmail</model>
                    </run>
            </send_auction_email>-->
        </jobs>
    </crontab>
    <default>
        <shipfunk>
            <base>
                <enabled>0</enabled>
                <environment>0</environment>
                <language>0</language>
            </base>
            <weight>
                <weight_unit>kg</weight_unit>
                <default_weight>2</default_weight>
            </weight>
            <dimensions>
                <dimension_unit>cm</dimension_unit>
                <default_width>10</default_width>
                <default_depth>10</default_depth>
                <default_height>10</default_height>
            </dimensions>
            <categories>
                <order_delivery_options_by_the_categories>0</order_delivery_options_by_the_categories>
            </categories>
            <boxPacker>
                <enable_boxPacker>0</enable_boxPacker>
            </boxPacker>
            <package_card>
            	<package_card_sizes>A4</package_card_sizes>
                <package_card_types>pdf</package_card_types>
            </package_card>
        </shipfunk>
        <carriers>
            <shipfunk>
                <active>1</active>
                <model>shipfunk/carrier</model>
                <title>Shipfunk</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <express_max_weight>1</express_max_weight>
            </shipfunk>
        </carriers>
    </default>
</config>
